<div class="dialog">
  <mat-dialog-actions>       
    <img mat-dialog-close class="btn" src="../../../assets/images/streamline_delete-1-solid.svg" alt="">
</mat-dialog-actions>
     
     <div class="containerBbio">
     <h2 mat-dialog-title>Examen Biologique</h2>
    <mat-dialog-content class="tabmed">
        <table class="table">
            <thead>
              <tr>
                <th class="coloneval ">Paramètre</th>
                <th class="coloneval ">Valeur</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Pression Artérielle</td>
                <td>{{valeurs.Pression_arterielle}}</td>
              </tr>
              <tr>
                <td>Glycémie</td>
                <td>{{valeurs.Glycemie}}</td>
              </tr>
              <tr>
                <td>Niveau Cholestérol</td>
                <td>{{valeurs.Niveau_cholesterol}}</td>
              </tr>
            </tbody>
          </table>
          
      <div class="icons">
     
      <img src="../../../assets/images/labo.svg" alt="">


      </div>
    </mat-dialog-content>
    </div>
    </div>
    
    <!-- p>bonjour{{ data.element.Duree }}</p>-->
    