@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

.containerordo {
  gap: 10%;
  position: relative;
  margin-top: -8%;
}

.containerordo h2 {
  font-family: 'Nunito', sans-serif;
  color: #242855;
  font-size: 2rem;
  margin-bottom: 6%;
  text-align: center;
}

.tab {
  width: 100%;
  border-spacing: 0; /* No extra spacing between cells */
  border-collapse: collapse; /* Supprime les espaces entre les bordures */
  border: 1px solid #ddd;
}

.tab td {
  border: 1px solid #ddd; /* Gris clair */
}
.coloneordo {
  background-color: #218879; /* Only the table headers are green */
  color: white;
  font-size: 0.85rem;
  font-family: 'Montserrat', sans-serif;
}

.btn {

  cursor: pointer;
}

.icons{
  display: flex;
  flex-direction:row;
  position: relative;
  margin-top: 8%;
  gap: 2%;
  margin-left: 3%;

  .med{
    position: relative;
    margin-left: 60%;
 }
}
