<div class="dialog">
    <mat-dialog-actions>       
        <img mat-dialog-close class="btn" src="../../../assets/images/streamline_delete-1-solid.svg" alt="">
  </mat-dialog-actions>
     
     <div class="container">
     <h2 mat-dialog-title>Résumé</h2>
    <mat-dialog-content class="res">
        <div class="paragraphs">
        <div class="paragraph">
            <p>{{Diagnostic}} </p>
        </div>
        <div class="paragraph">
            <p>{{Symptomes}} </p>
        </div>
        <div class="paragraph">
            <p>{{Antecedents}} </p>
        </div>
        <div class="paragraph">
            <p>{{autres}} </p>
        </div>
    </div>
    </mat-dialog-content>
    </div>
    </div>
    
    <!-- p>bonjour{{ data.element.Duree }}</p>-->
    
