<div class="dialog">
    <mat-dialog-actions>       
        <img mat-dialog-close class="btn" src="../../../assets/images/streamline_delete-1-solid.svg" alt="">
  </mat-dialog-actions>
     
     <div class="containerRes">
     <h2 mat-dialog-title>Résumé</h2>
    <mat-dialog-content class="res">
        <div class="paragraphs">
        <div class="paragraph">
            <p>Diagnostic : {{Diagnostic}} </p>
        </div>
        <div class="paragraph">
            <p>Symptomes : {{Symptomes}} </p>
        </div>
        <div class="paragraph">
            <p>Antecedents : {{Antecedents}} </p>
        </div>
        <div class="paragraph">
            <p>autres : {{autres}} </p>
        </div>
    </div>
    </mat-dialog-content>
    </div>
    </div>

    
