
<div id="background">
    <div id="one">
        <div></div>
    </div>
    <div id="two">
        <div ></div>
    </div>
</div>

<div id="login_container">
        <div id="bg-deco">
            <img src="../../assets/images/Amejay_Logo 1.svg" alt="logo">
        </div> 
        <div id="card">
            <div id="head">
                <h1>{{title}}</h1>
                <p>{{text}}</p>    
            </div>
            <form method="post" action="google.com">
                <label>{{label1}}</label>
                <div class="input">
                    <img src="../../assets/images/username.svg" alt="user icon">
                    <input type="text" id="username" placeholder="{{ph1}}" name="{{name1}}">
                </div>
                <label>{{label2}}</label>
                <div class="input">
                    <img src="../../assets/images/password.svg" alt="password icon">
                    <input type="password" id="password" placeholder="{{ph2}}" name="{{name2}}">
                </div>
                <button type="submit">{{button}}</button><!--function to choose the next page according to the user-->
            </form>
        </div> 
        <div id="image">
            <img src="../../assets/images/Secure login.svg" alt="user login"> 
       </div> 
</div>