<app-main-header></app-main-header>
<section id="accueil">
    <div class="text">
        <h1>Simplifiez la gestion des dossiers médicaux avec notre solution numérique intuitive.</h1>
        <h2>Centralisez les données des patients, améliorez la communication entre professionnels de santé et assurez une continuité optimale des soins</h2>
        <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Connexion</a>
    </div>
    <img src="../../assets/images/undraw_medicine_hqqg.svg" alt="deux medecins">
</section>

<section id="fonctions">
    <h2>Nos services</h2>
    <div>
        <mat-card appearance="outlined">
            <mat-card-content>
                <img mat-card-image src="../../assets/images/Dpi-manager.svg" alt="dossier-patient">
                <h4>Gestion des dossiers patients</h4>
                <p>Créez et accédez rapidement aux informations des patients.</p>
            </mat-card-content>
        </mat-card>
        <mat-card appearance="outlined">
            <mat-card-content>
                <img src="../../assets/images/Online-doctor.svg" alt="consultation medical">
                <h4>Consultation médicale simplifiée</h4>
                <p>Ajoutez des diagnostics, prescriptions et résumés en quelques clics.</p>
            </mat-card-content>
        </mat-card>
        <mat-card appearance="outlined">
            <mat-card-content>
                <img mat-card-image src="../../assets/images/Nurse.svg" alt="infirmier">
                <h4>Suivi des soins infirmiers</h4>
                <p>Enregistrez les traitements et observations en temps réel.</p>
            </mat-card-content>
        </mat-card>

        <mat-card appearance="outlined">
            <mat-card-content>
                <img mat-card-image src="../../assets/images/Health-checkup.svg" alt="examens medicales">
                <h4>Gestion des examens et résultats</h4>
                <p>Téléchargez et visualisez facilement les résultats d'examens biologiques et radiologiques..</p>
            </mat-card-content>
        </mat-card>
        <mat-card appearance="outlined">
            <mat-card-content>
                <img src="../../assets/images/SGPH.svg" alt="medical consultation">
                <h4>Intégration avec le SGPH</h4>
                <p>Assurez la traçabilité des traitements grâce à l’interopérabilité.</p>
            </mat-card-content>
        </mat-card>
        <mat-card appearance="outlined">
            <mat-card-content>
                <img mat-card-image src="../../assets/images/Secure-user.svg" alt="medical consultation">
                <h4>Espace patient sécurisé</h4>
                <p>Permettez aux patients de consulter leurs données en toute sécurité.</p>
            </mat-card-content>
        </mat-card>
    </div>
</section>

<section id="contact">
    <h2>Contacter nous</h2>
    <div class="contacts">
        <p><strong>Email: </strong>admin&#64;amejay.dz</p>
        <p><strong>Téléphone: </strong>021 45 22 12</p>
    </div>
</section>