<head>
  <link rel="stylesheet" href="./page-laborantin.component.css">
</head>
<div class="header-dialog">
  <h2 mat-dialog-title >Saisie des Paramètres Mesurés</h2>
  <mat-dialog-actions class="close-icon">
    <button mat-button (click)="onNoClick()"><img src="../../assets/images/close.svg" alt="close-icon"></button>
  </mat-dialog-actions>
</div>
<mat-dialog-content class="dialog-content">
  <h3 class="content-title">Ajout des valeurs mesurées lors de l’examen</h3>
  <button (click)="ajouter()"><img src="../../assets/images/Plus.svg" alt="plus">Ajouter un Paramètre </button>
  <h4>Résultats ajoutés :</h4>
    <form >
      <div *ngFor="let div of divs; let i = index" class="add-params">
        <div>
          <label for="name-{{ div.id }}">Paramètre</label>
          <select id="name-{{ div.id }}" [(ngModel)]="div.parametre" name="param-{{ div.id }}" placeholder="Choisir un paramètre">
            <option *ngFor="let param of params" [value]="param.name">{{ param.name }}</option>
          </select>
        </div>
        <div>
          <label for="value-{{ div.id }}">Valeur</label>
          <input id="value-{{ div.id }}" [(ngModel)]="div.valeur" placeholder="Valeur mesuré" name="valeur-{{ div.id }}">
        </div>
        <div>
          <label for="value-{{ div.id }}">Date</label>
          <input id="value-{{ div.id }}" [(ngModel)]="div.date" placeholder="Date" name="date-{{ div.id }}" type="date">
        </div>
        <button (click)="deleteDiv(div.id)">Delete</button>
      </div>
      <mat-dialog-actions class="buttons">
        <button (click)="openDialog_genererGraphe()" [ngClass]="{'enabled-button': !isDisable, 'disabled-button': isDisable}" [disabled] = "isDisable"><img src="../../assets/images/Bar chart.svg" alt="bar-chart">Générer des Graphiques de Tendance</button>
        <button mat-button type="reset">Annuler</button>
        <button mat-button  cdkFocusInitial type="submit" (click)="enregistrer()">Enregistrer</button>
      </mat-dialog-actions>
    </form>
</mat-dialog-content>


