<app-header></app-header>
<div class="containerRad">
    <h2>Saisie des <span class="title-gradient">Resultats d'Imagerie</span></h2>
    <div class="select-container">

        <div class="select">
        <p>Sélectioner un Patient</p>
        </div>
        <div class="dropdown-container">
            <div class="dropdown-container">
                <div class="dropdown-label" (click)="toggleDropdown()">
                   {{ selectedValue.name || 'Cliquer pour choisir un patient' }}
                 </div>
                 <ul *ngIf="dropdownOpen" class="dropdown-list">
                 <li *ngFor="let patient of listPatients" (click)="selectItem(patient); $event.stopPropagation();">
                 {{ patient.name }}
                 </li>
                 </ul>
            </div>
            
        </div>
    </div>
    <div *ngIf="selectedValue.name" class="details-table">
        <p>Bilans biologiques de  {{ selectedValue.name }}</p>
        <table mat-table [dataSource]="dataSource" class="tabbilans">
        
            <ng-container matColumnDef="Type">
              <th mat-header-cell *matHeaderCellDef class="coloneradilog"> Type </th>
              <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>
        
            <ng-container matColumnDef="Description">
              <th mat-header-cell *matHeaderCellDef class="coloneradilog"> Description </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
        
            <ng-container matColumnDef="compteRendu">
              <th mat-header-cell *matHeaderCellDef class="coloneradilog"> Compte Rendu </th>
              <td mat-cell *matCellDef="let element">
                <img *ngIf="element.compteRendu === 'oui'" src="../../../assets/images/check.svg" class="imgcheck" alt="" >
                <img *ngIf="element.compteRendu === 'non'" src="../../../assets/images/delete-outline.svg" class="imgnotcheck" alt="" (click)="openRedactionCompteRendu(element)">
              </td>
            </ng-container>
            
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      </div>
</div>

