@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

.containerRad{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 3%;
 
}
.containerRad h2{
    font-size: 2rem; /* Taille du texte */
    text-align: center; /* Centrage */
    font-family: 'Nunito', sans-serif;
}

.title-gradient {
  background: linear-gradient(to right, black, #3BD6CC); /* Dégradé de couleurs */
    -webkit-background-clip: text; /* Clip le dégradé à la zone du texte (pour WebKit) */
    -webkit-text-fill-color: transparent; /* Rend le texte transparent pour afficher le dégradé */
    background-clip: text; /* Support moderne pour les autres navigateurs */
    color: transparent;
}

.select-container{
    background-color: rgba(193, 255, 251, 0.3)    ;
    border-radius : 8px;
    border : 2px solid white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1% 1%;
    width: 95%;
    font-family: 'Nunito', sans-serif;
    margin-left: 2.5%;
}

.select-container .select p {
  font-size : 1.2rem;
  color : #4a4a4a;
  font-weight : 700;
}

.dropdown-container {
    position: relative;
    display: inline-block;
    width: 100%;
   
  }
  
  .dropdown-label {
    padding: 1%;
    border: 1px solid;
    border-radius : 5px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid;
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;

  }
  
  .dropdown-list li {
    padding: 1%;
    cursor: pointer;
  }
  
  .dropdown-list li:hover {
    background-color: #3BD6CC;
  }

  .details-table {
    background-color: rgba(193, 255, 251, 0.3)    ;
    border-radius : 8px;
    border : 2px solid white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2% 2%;
    width: 95%;
    margin-top: 0.5%;
    margin-bottom: 2%;
   margin-left: 2.5%;
  }

  .details-table p {
    font-family: 'Nunito', sans-serif ;
    font-size : 1.2rem;
    font-weight : 700 ;
    color : #4a4a4a;
    display: block;
  }
  
  .details-table table {
    width: 100%;
    border-collapse: collapse;
  }

  
  .details-table th {
    background-color: #218879;
    font-weight : 700;
    font-size : 1rem;
  }
  .tabbilans {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tabbilans td {
    padding: 1%;
    border: 0.1rem solid #ccc;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    
  }
  
  .tabbilans th {
    background-color: #218879;
    color: white;
    font-family: 'Nunito', sans-serif;
    text-align: center;
  }
  
  .coloneradilog {
    text-align: center;
  }

  .imgnotcheck{
    cursor: pointer;
  }
  .imgcheck{
    cursor: pointer;
  }
  .imgnotcheck:hover {
    /*opacity: 0.6;*/
    filter: brightness(100%) saturate(200%) invert(20%) sepia(60%) hue-rotate(340deg) contrast(110%);

    transition: opacity 0.3s ease;
    border-radius: 50%;
    
  }
