.section-title {
    font-size : 1.4rem;
    font-weight : 700 ;
    color : #4a4a4a;
    display: block;
    margin-bottom : 5px;
}


#patient-select {
    width : 100% ;
    height : 7vh ;
    font-family: 'Nunito', sans-serif;
    font-size : 1rem ;
}

select {
    width: 100%; /* Prend toute la largeur disponible */
    padding: 10px;
    font-size: 1rem;
    border: 1px solid; /* Bordure bleue */
    border-radius: 8px; /* Coins arrondis */
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  select:focus {
    background-color: #e9ecef; /* Légèrement plus clair */
  }
  
  select option {
    font-size: 1rem;
    padding: 5px;
  }
  
  select option:disabled {
    color: #aaa; /* Texte gris */
    font-style: italic;
  }

@media (min-height:600px) {
    #patient-select {
        height : 5px;
    }
}