<app-header></app-header>
<div class="main">
    <div class="info-card">
        <h2>{{title}}</h2>
        <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
            <div class="nom">
                <label for="nom">{{labels[0]}}</label>
                <input type="text" placeholder={{labels[0]}} id="nom" name="{{names[0]}}" ngModel>
            </div>
            <div class="prenom">
                <label for="prenom">{{labels[1]}}</label>
                <input type="text" placeholder={{labels[1]}} id="prenom" name="{{names[1]}}" ngModel>
            </div>
            <div class="nns">
                <label for="nss">{{labels[2]}}</label>
                <input type="text" placeholder={{labels[2]}} id="nss" name="{{names[2]}}" ngModel>
            </div>  
            <div class="ddn">
                <label for="ddn">{{labels[3]}}</label>
                <input type="date" id="ddn" name="{{names[3]}}" ngModel>
            </div>
            <div class="adresse">
                <label for="adresse">{{labels[4]}}</label>
                <input type="text" placeholder={{labels[4]}} id="adresse" name="{{names[4]}}" ngModel>
            </div>
            <div class="num-tel">
                <label for="num-tel">{{labels[5]}}</label>
                <input type="text" placeholder={{labels[5]}} id="num_tel" name="{{names[5]}}" ngModel>
            </div>
            <div class="mutuelle">
                <label for="mutuelle">{{labels[6]}}</label>
                <input type="text" placeholder={{labels[6]}} id="mutuelle" name="{{names[6]}}" ngModel>
            </div>
            <div class="medecin">
                <label for="medecin">{{labels[7]}}</label>
                <input type="text" placeholder={{labels[7]}} id="medecin" name="{{names[7]}}" ngModel>
            </div>
            <div class="contact">
                <label for="contact">{{labels[8]}}</label>
                <input type="text" placeholder={{labels[8]}} id="contact" name="{{names[8]}}" ngModel>
            </div>
            <div class="buttons">
                <button type="submit">{{buttons[0]}}</button>
                <button type="reset">{{buttons[1]}}</button>
            </div>
        </form>
    </div>
    <img src="../../assets/images/undraw_doctors_djoj.svg" alt="doctors">
</div>