<app-header></app-header>
<div class="main">
    <div class="info-card">
        <h2>Creation du DPI</h2>
        <form action="" method="post">
            <div class="nom">
                <label for="nom">Nom</label>
                <input type="text" placeholder="Nom" id="nom">
            </div>
            <div class="prenom">
                <label for="prenom">Prenom</label>
                <input type="text" placeholder="Prenom" id="prenom">
            </div>
            <div class="nns">
                <label for="nss">Numero de securité sociale</label>
                <input type="text" placeholder="Numero de securité sociale" id="nss">
            </div>  
            <div class="ddn">
                <label for="ddn">Date de naissance</label>
                <input type="date" placeholder="Date de naissance" id="ddn">
            </div>
            <div class="adresse">
                <label for="adresse">Adresse</label>
                <input type="text" placeholder="Adresse" id="adresse">
            </div>
            <div class="num-tel">
                <label for="num-tel">Téléphone</label>
                <input type="text" placeholder="Téléphone" id="num-tel">
            </div>
            <div class="mutuelle">
                <label for="mutuelle">Mutuelle</label>
                <input type="text" placeholder="Mutuelle" id="mutuelle">
            </div>
            <div class="medecin">
                <label for="medecin">Medecin traitant</label>
                <input type="text" placeholder="Medecin traitant" id="medecin">
            </div>
            <div class="contact">
                <label for="contact">Personne a contacter</label>
                <input type="text" placeholder="Personne a contacter" id="contact">
            </div>
            <div class="buttons">
                <button type="submit">Ajouter le DPI</button>
                <button type="reset">Annuler</button>
            </div>
        </form>
    </div>
    <img src="../../assets/images/undraw_doctors_djoj.svg" alt="doctors">
</div>
