* {
    margin: 0;
    padding: 0;

    background-color: white;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 5px;
    margin : 0;
    border-bottom: 2px solid #A4A4A4;
  }
  
  .header-text {
    font-size : clamp(1rem, 1.5vw, 1.4em);
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #4a4a4a;
    margin-left : 5px;
  }

  
  .header-logo {
    height: 6.5vh;
    min-height : 30px ;
    width: auto;
    margin-right : 5px;
    cursor: pointer;
    padding : 2px ;
  }
  
  @media (max-width: 600px) {
    .header-logo {
        height: 30px;
        width : auto;
    }
    .header-text {
        font-size : 1rem;
    }
}
