@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
.btn {
    background-color: white; /* Style only the button */
    border: none;
    outline: none;
    cursor: pointer;
  }
.container {

    position: relative;
    margin-top: -7%;
  }
  
  .container h2 {
    font-family: 'Nunito', sans-serif;
    color: #242855;
    font-size: 2rem;
    margin-bottom: 6%;
  }

  .paragraphs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 1rem;
  
  }
  .paragraph{
    border: #3BD6CC solid 0.2rem; /* Bordure verte */
    border-radius: 1.5rem; /* Coins arrondis */
    width: 28rem; /* Augmente la largeur du cadre */
    height: 10rem;
    padding: 0.7rem; /* Ajoute de l'espace à l'intérieur du cadre */
    background-color: #f9f9f9; /* Couleur d'arrière-plan pour le contraste */
    font-family: 'Montserrat', sans-serif;
    text-align: left;
        
    }
  
    .paragraph p{
      margin: 0;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 1%;
  }
  .paragraphs p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    margin-top: 1%;
  }
  .imgmed{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: -1%;

  }
  .imgmed button{
   width: 28rem;
   text-align: left;
   background-color: white;
   color: #3BD6CC;
   border: #CFCDCD solid 0.1rem;

   cursor: pointer;
  }