<app-header></app-header>

<div class="main-container">
  <h2>Remplissage d'une Consultation</h2>
  <div class="button-container">
    <button class="nav-button" (click)="handleButton1()">
      <img class="img1" src="assets/document-icon.png" alt="Résumé Icon" />
      <span>Rédiger le résumé</span>
    </button>
    <button class="nav-button" (click)="handleButton2()">
      <img class="img2" src="assets/bio-icon.png" alt="Bilan Biologique Icon" />
      <span>Ajouter un Examen Biologique</span>
    </button>
    <button class="nav-button" (click)="handleButton3()">
      <img class="img1" src="assets/radio-icon.png" alt="Bilan Radiologique Icon" />
      <span>Ajouter un Examen Radiologique</span>
    </button>
    <button class="nav-button" (click)="handleButton4()">
      <img class="img1" src="assets/prescription-icon.png" alt="Ordonnance Icon" />
      <span>Rédiger une ordonnance</span>
    </button>
  </div>

  <!-- Warning Section -->
<div class="warning-message" *ngIf="showWarning">
  Veuillez rédiger le résumé de la consultation avant de l'enregistrer.
</div>

<!-- Save Button -->
<div class="save-container">
  <button class="save-button" (click)="handleSave()">Enregistrer la consultation</button>
</div>

</div>

<div class="image-container">
  <img src="assets/doctors.svg" alt="Doctor and Patient" />
</div>