<app-header />

<div class="main-container">
    <form>
      <h2>Examen Biologique</h2>
  
      <textarea
        id="description"
        rows="10"
        [(ngModel)]="bilanBiologique.description"
        [ngModelOptions]="{standalone: true}"
        placeholder="Veuillez rédiger l'examen biologique ici ..."
      ></textarea>
  
      <div class="button-container">
        <button type="button" class="button-cancel" (click)="navigateToConsultation()">Annuler</button>
        <button type="submit" class="button-confirm" (click)="saveBilanBiologique()">Confirmer</button>
      </div>
    </form>
  
    <!-- Image fixe -->
    <img src="assets/laboratory.png" alt="Examen Biologique" class="responsive-image" />
  
    <!-- Modale -->
    <div class="modal" *ngIf="showModal">
      <div class="modal-content">
        <p>{{ modalMessage }}</p>
        <button (click)="closeModal()">Fermer</button>
      </div>
    </div>
  </div>
  